#wrap{
     width: 360px;
     margin: 20px auto;
     padding: 20px;
     border: 6px solid #DDD;
     overflow: hidden;
}

h1{
     margin: 0 0 20px 0;
     padding: 0 0 5px 0;
     font-size: 18px;
     border-bottom: 1px solid #DDD;
}

h1 span{
     float: right;
     display: block;
     background: #9cf;
     font-size: 12px;
     padding: 2px 6px;
     color: #fff;
}

ul{
     list-style: none;
     margin: 0;
     padding: 0;
}

ul li{
     overflow: hidden;
     padding: 4px 0;
}

li input, li span{
     float: left;
     margin-right: 6px;
}

li a {
     float: right;
     text-decoration: none;
     font-weight: bold;
     color: #900;
     padding: 0 8px;
     display: none;
}

li:hover a {
     display: inline;
}

#new-task {
     margin-top: 20px;
     padding-top: 10px;
     border-top: 1px solid #efefef;
     overflow: hidden;
}

#new-task input{
     border-top: 1px solid #DDD;
     border-right: 0 none;
     padding: 2px;
     width: 240px;
     height: 20px;
     float: left;
}

#new-task button{
     width: 30px;
     border: 1px solid #DDD;
     background: #eee;
     font-weight: bold;
     color: #666;
     padding: 2px 2px 3px 2px;
     float: left;
}

#done{
     line-height: 18px;
     margin-bottom: 10px;
}

#done span{
     text-decoration: line-through;
     font-size: 12px;
     color: #999;
}